$main: #007bff ;
$main_d: #006ce0;

$dullWhite: #F5F5F5;
$lightLine: #E0E1E5;
$lightGray: #AFB0B4;
$partialGrey: #828287;
$normalGrey: #636467;
$mediumGrey: #505154;
$textBlack: #364d59;
$threeGrey: #3a3a3a;
$darkGrey: #1a1a1a;

$borderLight: rgba(224,225,229,0.6);

$linkBlue: #5697E4;

$minWidth: 'min-width';
$maxWidth: 'max-width';
$xs: 560px;
$sm: 768px;
$md: 992px;
$mc: 1080px;
$lg: 1200px;
$xlg: 1326px; /* for 1366 resolution */
$xxlg: 1400px; /* for 1440 resolution */
$xxxlg: 1560px; /* for 1600 resolution */

// Orignal ['239,75,75','31,171,137','247,119,84','183,231,120','81,218,207','211,53,187','100,196,237','218,67,2','166,203,18','79,129,199','243,69,115','249,206,0','225,57,108']


// ['199, 13, 58', '175, 4, 4', '193, 0, 0', '208, 2, 27', '221, 10, 53', '206, 37, 37', '196, 0, 24', '192, 0, 0', '207, 27, 27', '241, 45, 45', '207, 10, 44', '203, 1, 1', '197, 0, 0']